/* Contenedor del slider */
.slider-container {
    width: 100%; /* Ancho del slider */
    height: 250px; /* Alto del slider */
    margin: 0 auto; /* Centrar el slider */
    overflow: hidden; /* Oculta el desbordamiento */
    position: relative;
    
    border-radius: 10px; /* Bordes redondeados */
}

/* Estilo de la imagen */
.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen al contenedor */
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 2s ease-in-out; /* Transición suave de 2 segundos */
}

/* Estilo para la imagen activa */
.slider-image.active {
    opacity: 1; /* Hace visible la imagen activa */
}