/* Estilo del contenedor que agrupa el icono y el texto */
.juntos {
    display: flex; /* Usa Flexbox para alinear los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    gap: 10px; /* Espacio entre el icono y el texto */
    position: absolute; /* Posicionamiento absoluto */
    right: 25px; /* Coloca el contenedor a 20px de la derecha */
    margin-top: 5px;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

/* Estilo del texto seleccionado */
.selected-option {
    font-size: 16px;
    color: white; /* Color del texto */
    font-weight: bold; /* Texto en negrita */
}

/* Estilo del icono del localizador */
.localizador img {
    height: 25px;
    width: 25px;
    border-radius: 30%;
    cursor: pointer;
   
}

/* Efecto hover para el icono del localizador */
.localizador img:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 300px; /* Ancho mínimo para las tarjetas */
    width: auto;
    padding: 10px; /* Espaciado interno */
}

/* Estilo del contenido de la tarjeta */
.card-content {
    background-color: #444; /* Fondo de la tarjeta */
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px; /* Espacio entre tarjetas */
    transition: background-color 0.3s;
}

.card-content:hover {
    background-color: #555; /* Cambia el color al pasar el mouse */
}

/* Estilo del título de la tarjeta */
.card-title {
    font-size: 16px;
    color: white;
    margin: 0 0 10px 0; /* Espacio debajo del título */
}

/* Estilo de la descripción de la tarjeta */
.card-description {
    font-size: 14px;
    color: #ccc;
    margin: 0 0 10px 0; /* Espacio debajo de la descripción */
}

/* Estilo del enlace de la tarjeta */
.card-link {
    text-decoration: none; /* Quita el subrayado */
    color: inherit; /* Hereda el color del texto */
    display: block; /* Hace que el enlace ocupe todo el espacio */
}

/* Estilo de los elementos inferiores de la tarjeta */
.inferiores {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo de los ítems de información */
.info-item {
    font-size: 14px;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-right: 2px solid orange; /* Línea divisoria */
}

.info-item:last-child {
    border-right: none; /* Quita la línea divisoria del último ítem */
}

/* Estilo de la cámara */
.camarita {
    display: inline-block;
}

#camara {
    width: 20px;
    height: 20px;
    transition: transform 0.3s;
    border-radius: 50%;
}

#camara:hover {
    transform: scale(1.1); /* Efecto de escala al pasar el mouse */
}

